<div class="pure-menu pure-menu-open pure-menu-horizontal">
	<a class="pure-menu-heading" href="">angular-Supdeweb</a>
	<ul>
		<li ui-sref-active="pure-menu-selected">
			<a href ui-sref="root.home">{{ 'home' | uppercase }}</a>
		</li>
		<li ui-sref-active="pure-menu-selected">
			<a href ui-sref="root.moviePopular">{{ 'Popular movies' | uppercase }}</a>
		</li>
		<li ui-sref-active="pure-menu-selected">
			<a href ui-sref="root.moviePlaying">{{ 'Now playing' | uppercase }}</a>
		</li>
		<li ui-sref-active="pure-menu-selected">
			<a href ui-sref="root.TVPopular">{{ 'Popular TV shows' | uppercase }}</a>
		</li>
		<li ui-sref-active="pure-menu-selected">
			<a href ui-sref="root.infoMovie">{{ 'Movie Info' | uppercase }}</a>
		</li>
		<li ui-sref-active="pure-menu-selected">
			<a href ui-sref="root.getting-started">{{ 'getting started' }}</a>
		</li>
	</ul>
</div>